<!DOCTYPE html>
<html>
<head>
    <title>Website Analysis Tool</title>
    <meta charset="utf-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/static/content/custom.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="/static/scripts/custom.js"></script>
    <style>
       
    </style>
    {% load static %}
    <!--{% load django_tables2 %}-->
    
</head>
<body class="background-color">
    <nav class="navbar navbar-expand-md">
        <div class="col-sm-2">
            <img src="/static/images/logo.png" style="height: 135px;" />
        </div>
        <div class="col-sm-8">
            <h1 style="text-align: center">Website Analysis Tool</h1>
        </div>
        <div class="col-sm-2"></div>
    </nav>
    <div class="container">        
        <div class="row">           
            <div class="col-sm-12">
                <form method="GET">
                    <div class="row">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">URL</span>
                            <input type="text" class="form-control input-group-append" id="URL" placeholder="URL" name="URL">
                            <input type="text" class="form-control input-group-append" id="term" placeholder="Term" name = "term" style="display: none">
                            <div class="input-group-append">
                               <input type="submit" value="GO" class="btn btn-outline-secondary white-font btn-success" id="goBtn"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="searchRadio" value="searchRadio" name="inlineDefaultRadiosExample">
                            <label class="custom-control-label" for="searchRadio">Search Page</label>
                        </div>                    
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="productRadio" value="productRadio" name="inlineDefaultRadiosExample">
                            <label class="custom-control-label" for="productRadio">Product Page</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4" style="display: none;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="IsProxy" id="proxyCheck">
                            <label class="form-check-label" for="proxyCheck">IsProxy</label>
                        </div>
                    </div>
                </div>
                <div class="proxy" style="display: none">
                    <div class="row form-inline">
                        <div class="col-md-4">
                            <label class="text-left" for="IP">IP:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Enter IP" id="IP">
                        </div>
                    </div>
                    <div class="row form-inline">
                        <div class="col-md-4">
                            <label class="text-left" for="UserName">UserName:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Enter UserName" id="UserName">
                        </div>
                    </div>
                    <div class="row form-inline">
                        <div class="col-md-4">
                            <label class="text-left" for="Password">Password:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Enter Password" id="Password">
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-12" style="padding-left: 0px;"> 
                <table id = "table" class = "table table-bordered">
                    <thead class = "alert-success">
                        <tr>
                            <th>URL</th>
                            <th>Response</th>
                            <th>Json</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td>Json</td>
                            <td>URL</td>
                        </tr>
                    </tbody>
                    {% comment %} <tbody>
                        {% for member in all_members %}
                        <tr>
                            <td>{{ member.firstname }}</td>
                            <td>{{ member.lastname }}</td>
                            <td>{{ member.age }}</td>
                            <td>{{ member.email }}</td>
                            <td>{{ member.address }}</td>
                        </tr>
                        {% endfor %}
                    </tbody> {% endcomment %}
                </table>                             
            </div>
        </div>
        
    </div>  
     {% if url %}	
    Your Url Is: {{ url }}<br/>	
    {%if term %}	
    Your Term Is : {{term}}<br/>	
    {%endif%}	
    {%if IsSearch %}	
    You are searching : {{IsSearch}}<br/>	
    {%endif%}	
    {%if ISMonitor %}	
    You are Monitoring : {{ISMonitor}}<br/>	
    {%endif%}	
    {% endif %} 
    {% comment %} <div class="footer-div"></div> {% endcomment %}
  
    <script>
      
    </script>
</body>
</html>
